
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SFA Sales :: Login</title>

    <link href="~/css/style.css" rel="stylesheet" />
 
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>

    <script src="~/js/bootstrap.min.js"></script>
</head>
<body class="login-body">
    <div id="bannersection">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="dropdown">
                        <a class="dropdown-toggle product-link" type="button" data-toggle="dropdown">
                            Product
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 text-right"><a href="index.html"><img src="images/logo.jpg" alt="Logo"></a></div>
            </div>
        </div>
        <div class="bannercontent">
            <div class="form-holder">
                <h1>Sign In</h1>
                <form action="#" method="post">
                    <div class="form-container">
                        <input class="login-control" type="text" placeholder="Enter Username" name="username" required>
                        <input class="login-control" type="password" placeholder="Enter Password" name="password" required>
                        <input type="submit" name="submit" value="LOGIN" class="theme-btn">
                    </div>
                </form>
                <label>Forgot <a href="#">Password</a></label>
                <label>Don't have a account ? <a href="#">REGISTER HERE</a></label>
            </div>
        </div>
    </div>
</body>
</html>