@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <nav class="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">View Company</li>
            </ol>
            <div class="ml-auto">
                <input type="button" class="btn bg-gradient-primary" value="Add" onclick="@("window.location.href='" + @Url.Action("Index", "CompanyMaster") + "'");" />
            </div>
        </nav>
    </div><!-- /.container-fluid -->
</div>


<div role="main">
    <div >


        <div class="col-lg-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">View Company</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                           
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Logo</th>
                                    <th>Company Code</th>
                                    <th>Company Name</th>
                                    <th>Contact No</th>
                                    <th>Email</th>
                                    <th>GST No.</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="width:120px;"><button class="btn btn-default btn3d"><i class="fa fa-search"></i></button> <button class="btn btn-default btn3d"><i class="fa fa-sync"></i></button></th>
                                    <th align="center" valign="middle"><input type="text" class="form-control" placeholder="Search.."></th>
                                    <th align="center" valign="middle"><input type="text" class="form-control" placeholder="Search.."></th>
                                    <th align="center" valign="middle"><input type="text" class="form-control" placeholder="Search.."></th>
                                    <th align="center" valign="middle"><input type="text" class="form-control" placeholder="Search.."></th>
                                    <th align="center" valign="middle"><input type="text" class="form-control" placeholder="Search.."></th>
                                    <th align="center" valign="middle"><input type="text" class="form-control" placeholder="Search.."></th>
                                    <th align="center" valign="middle"><input type="text" class="form-control" placeholder="Search.."></th>
                                </tr>
                                <tr>
                                    <td><a href="#"><i class="fa fa-edit"></i></a> &nbsp; <a href="#"><i class="fa fa-eye"></i></a></td>
                                    <td><img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"></td>
                                    <td>Trident</td>
                                    <td>
                                        Internet Explorer 4.0
                                    </td>
                                    <td>Win 95+</td>
                                    <td> 4</td>
                                    <td>Active</td>
                                    <td><a href="#"><i class="fa fa-eye"></i></a></td>
                                </tr>
                                <tr>
                                    <td><a href="#"><i class="fa fa-edit"></i></a> &nbsp; <a href="#"><i class="fa fa-eye"></i></a></td>

                                    <td><img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"></td>
                                    <td>Trident</td>
                                    <td>
                                        Internet Explorer 4.0
                                    </td>
                                    <td>Win 95+</td>
                                    <td> 4</td>
                                    <td>Active</td>
                                    <td><a href="#"><i class="fa fa-eye"></i></a></td>
                                </tr>
                                <tr>
                                    <td><a href="#"><i class="fa fa-edit"></i></a> &nbsp; <a href="#"><i class="fa fa-eye"></i></a></td>

                                    <td><img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"></td>
                                    <td>Trident</td>
                                    <td>
                                        Internet Explorer 4.0
                                    </td>
                                    <td>Win 95+</td>
                                    <td> 4</td>
                                    <td>Active</td>
                                    <td><a href="#"><i class="fa fa-eye"></i></a></td>
                                </tr>
                                <tr>
                                    <td><a href="#"><i class="fa fa-edit"></i></a> &nbsp; <a href="#"><i class="fa fa-eye"></i></a></td>

                                    <td><img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"></td>
                                    <td>Trident</td>
                                    <td>
                                        Internet Explorer 4.0
                                    </td>
                                    <td>Win 95+</td>
                                    <td> 4</td>
                                    <td>Active</td>
                                    <td><a href="#"><i class="fa fa-eye"></i></a></td>
                                </tr>
</table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

